extends layout

block content
  h1= title
  p This is web apps lab10  #{title}
  button(type="button", class="btn btn-secondary", onclick="doBump()") Press me
  div(id="bump") Bump the count
  script.
    var count=0;
    var bump=1;
    function doBump(){
      count += bump;
      bump++;
      document.getElementById("bump").innerHTML="Count "+count+" with bump "+bump;
    }
  a(href="house") Houses info